mixin video(video)
  a(href=`/videos/${video.id}`).video-mixin
    .video-mixin__thumb(style=`background-image:url(${video.thumbnailUrl}); background-size:cover; background-position:center;`) 
    .video-mixin__data
      span.video-mixin__title=video.title 
    .video-mixin__meta   
      span #{video.owner.name} 😀
      span #{video.meta.views} 회
