extends base.pug


block content 
  video(src="/"+video.fileUrl, width="500", height="400", controls)
  div 
    button#play PLAY 
    button#mute MUTE 
    span#time 00:00/00:00
    input(type="range",step="0.1", min="0", max="1")#volume

  //- div 
  //-   p=video.description
  //-   small=video.createdAt
  //-   br
  //-   small Created By 
  //-     a(href=`/users/${video.owner._id}`)=video.owner.name 

  //- if String(video.owner._id) === String(loggedInUser._id)  
  //-   a(href=`${video.id}/edit`) EDIT VIDEO
  //-   br
  //-   a(href=`${video.id}/delete`) DELETE VIDEO

block scripts
  script(src="/static/js/videoPlayer.js")

